<!DOCTYPE html>
<html lang="en">
<head>
    <noscript>Please enable Javascript.</noscript>
    <title>{{ title }}</title>

    <meta name="og:type" content="website">
    <meta name="og:title" content="Cosmetic-X">
    <meta name="og:url" content="https://cosmetic-x.de/">
    <meta name="og:description" content="Another cosmetic provider for Minecraft: Bedrock Edition">
    <meta name="og:color" content="#7a34eb">
    <meta name="og:image" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/public/stylesheets/font-awesome.css'/>
    <link rel="stylesheet" href="/public/stylesheets/toastr.css"/>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
</head>
<body>
{{# showNavBar }}
    <nav class="navbar navbar-light navbar-expand-md text-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light bg-dark" href="/dashboard">Dashboard</a>
            <button data-toggle="collapse" class="navbar-toggler text-light bg-dark" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-light bg-dark" id="navcol-1">
                <ul class="navbar-nav text-light bg-dark" id="nav-bar-elements">
                    <li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" target="_blank" href="https://discord.cosmetic-x.de/">Discord</a></li>
                    <li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="/clients">Clients</a></li>
                    <li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="/dashboard/teams">Teams</a></li>
                </ul>
            </div>

            {{# if isAdmin }}
                <a href="/admin" class="mr-2">
                    <button class="btn btn-primary text-light" type="button">Admin-Panel</button>
                </a>
            {{/ if }}
            {{# if isClient }}
                {{# unless isPremium }}
                    <a href="https://ko-fi.cosmetic-x.de" class="mr-2">
                        <button class="btn btn-warning text-light" type="button">Get Premium</button>
                    </a>
                {{/unless}}
            {{/ if }}
            <a href="/logout">
                <button class="btn btn-danger text-light" type="button">Logout</button>
            </a>
        </div>
    </nav>
{{/showNavBar}}
{{{ body }}}

<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/popper.js"></script>
<script src="/public/javascripts/bootstrap.js"></script>
<script src="/public/javascripts/toastr.js"></script>
<script>
    $(() => {
		let params = new URLSearchParams(location.search.substring(1));
        if (!params.get("error")) {
        } else {
            params.get("error").split(",").forEach(message => toastr.error("Error", params.get("error")));
        }
    });
</script>
<script>
    $(() => $('[data-toggle="tooltip"]').tooltip());
</script>
</body>
</html>
