<arcticle>
    <div class="text-center text-light mt-5">
        <h2>Getting started with Cosmetic-X</h2>
    </div>
    <div class="container-md text-light text-center mt-5" style="column-count: 2">
        <div class="pt-5" style="cursor: pointer">
            <h3>Image URL</h3>
            <p>A valid url for an image(or starts with <code>textures/</code> then form only).</p>
        </div>

        <div class="pt-5" style="cursor: pointer">
            <h3>Image size</h3>
            <p>Your image must be the first 64x64 pixels empty, and must be 128x128 pixels, because that's the place where the players skin will be replaced.</p>
        </div>

        <div class="pt-5" style="cursor: pointer">
            <h3>Geometry format</h3>
            <p>Your geometry file must have the <code>format_version</code> key and should look like <a target="_blank" href='/dashboard/teams/getting-started/geometry.shape'>this</a>.</p>
        </div>
    </div>
</arcticle>