<body class="text-light bg-dark">
<div id="cosmetic-client-section" class="container align-items-center">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Clients</h1>
        </div>
    </div>
    <div class="row">
        {{# each clients }}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title" style="color: rgb(69,71,74);">{{@key}}</h4>
                        <a class="card-link" href="{{this}}">
                            <button class="btn btn-primary" type="button">Download</button>
                        </a>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title" style="color: rgb(69,71,74);">No clients found</h4>
                        <a class="card-link" href="{{this}}">
                            <button class="btn btn-primary" type="button" disabled>Download</button>
                        </a>
                    </div>
                </div>
            </div>
        {{/ each }}
    </div>
</div>