<div id="login">
    <h3 class="text-center text-white pt-5">Cosmetic-X</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 border rounded">
                    <form id="login-form" class="form" action="/{{action}}" method="post">
                        <h3 class="text-center text-dark">{{method}}</h3>
                        <div class="form-group">
                            <label for="username" class="text-dark">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control border-secondary">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-dark">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control border-secondary">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-md" value="Submit">
                            <a href="/{{otherMethod.file}}" class="text-black btn btn-success btn-md float-right">{{otherMethod.text}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>