<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cosmetic-X</title>
</head>

<body onload="setTimeout(() => location.reload(), 1000 * 5);">
<section class="text-light highlight-clean">
    <div class="container">
        <div class="text-light intro">
            <h2 class="text-center">Be patient..</h2>
            <p class="text-center text-muted">Wait for approve</p>
        </div>
    </div>
</section>
</body>

</html>