<style>
    .highlight-clean h2 {
        font-weight: bold;
        margin-bottom: 25px;
        line-height: 1.5;
        padding-top: 0;
        margin-top: 0;
        color: inherit;
    }

    .highlight-clean .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto 25px;
    }

    .highlight-clean .buttons {
        text-align: center;
    }

    .highlight-clean .buttons .btn {
        padding: 16px 32px;
        margin: 6px;
        border: none;
        background: none;
        box-shadow: none;
        text-shadow: none;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.4px;
        line-height: 1;
        outline: none;
        background-color: #ddd;
    }

    .highlight-clean .buttons .btn:hover {
        opacity: 1;
    }

    .highlight-clean .buttons .btn:active {
        transform: translateY(1px);
    }

    .highlight-clean .buttons .btn-primary {
        background-color: #055ada;
        color: #fff;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-light pt-5">
            <h1>Edit Cosmetic</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <form action="/api/teams/@/{{ team.name }}/cosmetics/@/{{ cosmetic.id }}/edit" method="post" class="cosx-form bg-dark text-light"
              enctype="multipart/form-data">
            <div class="col">
                <div class="md-form pt-2">
                    <label for="display_name">Display Name <i class="icon-question-sign" data-toggle="tooltip" title="Minecraft 'ยง' color support"></i></label>
                    <input type="text" id="display_name" name="display_name" class="form-control" required>
                </div>
                <div class="md-form pt-2">
                    <label for="image_url">Image-URL <i class="icon-question-sign" data-toggle="tooltip" title="The image-url path for this cosmetic, will shown in forms and dashboard or leave it empty"></i></label>
                    <input type="text" id="image_url" name="image_url" class="form-control">
                </div>
                <div class="md-form pt-2">
                    <label for="creation_date">Publish at <i class="icon-question-sign" data-toggle="tooltip" title="Publish date for for your server"></i></label>
                    <input type="datetime-local" min="{{ date }}" value="{{ date }}" id="creation_date" name="creation_date" class="form-control" required>
                </div>
                <div class="md-form pt-2">
                    <label for="image">Skin-Image <i class="icon-question-sign" data-toggle="tooltip" title="The first 64x64 pixels should not used"></i></label>
                    <input type="file" id="image" name="image" class="form-control" required>
                </div>
                <div class="md-form pt-2">
                    <label for="geometry">Geometry <i class="icon-question-sign" data-toggle="tooltip" title="Only the first geometry will selected as cosmetic"></i></label>
                    <input type="file" id="geometry" name="geometry" class="form-control">
                </div>
                {{# if allow_premium }}
                    <div class="md-form pt-2">
                        <input class="form-check-input" type="checkbox" id="premium" name="premium">
                        <label for="premium">Premium only <i class="icon-question-sign" data-toggle="tooltip" title="Only players with Premium tier can use this cosmetic"></i></label>
                    </div>
                {{/if}}
                <div class="d-flex justify-content-end p-2">
                    <button class="btn btn-primary mt-4" type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    let input = document.getElementById("focus");
    input.focus();
    input.select();
</script>