<style>
    .highlight-clean {
        color: #313437;
        background-color: #fff;
        padding: 50px 0;
    }

    .highlight-clean p {
        color: #7d8285;
    }

    .highlight-clean h2 {
        font-weight: bold;
        margin-bottom: 25px;
        line-height: 1.5;
        padding-top: 0;
        margin-top: 0;
        color: inherit;
    }

    .highlight-clean .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto 25px;
    }

    .highlight-clean .buttons {
        text-align: center;
    }

    .highlight-clean .buttons .btn {
        padding: 16px 32px;
        margin: 6px;
        border: none;
        background: none;
        box-shadow: none;
        text-shadow: none;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.4px;
        line-height: 1;
        outline: none;
        background-color: #ddd;
    }

    .highlight-clean .buttons .btn:hover {
        opacity: 1;
    }

    .highlight-clean .buttons .btn:active {
        transform: translateY(1px);
    }

    .highlight-clean .buttons .btn-primary {
        background-color: #055ada;
        color: #fff;
    }

    .new-team-form {
        transform: translate(-50%, -50%);
        top: 50%;
        max-width: 350px;
        width: 350px;
        left: 50%;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        position: absolute;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    }

    .authenticate {
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 100%;
        height: 1000px;
        background-size: cover;
    }

    .authenticate-ico {
        padding: 30px;
        font-size: 50px;
        text-align: center;
    }

    .form-group {
        text-align: center;
    }

    #button {
        width: 100%;
        margin: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-light pt-5">
            <h1>New Cosmetic</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="authenticate" class="col">
            <form action="/api/teams/@/{{ team.name }}/cosmetics/new" method="post" class="new-team-form">
                <div class="col">
                    <div class="md-form pt-2">
                        <label for="display_name">Display Name <i class="icon-question-sign" data-toggle="tooltip" title="Minecraft 'ยง' color support"></i></label>
                        <input type="text" id="display_name" name="display_name" class="form-control" required>
                    </div>
                    <div class="md-form pt-2">
                        <label for="creation_date">Publish at <i class="icon-question-sign" data-toggle="tooltip" title="Publish date for for your server"></i></label>
                        <input type="date" id="creation_date" name="creation_date" class="form-control" required>
                    </div>
                    <div class="md-form pt-2">
                        <label for="image">Skin-Image <i class="icon-question-sign" data-toggle="tooltip" title="The first 64x64 pixels should not used"></i></label>
                        <input type="file" id="image" name="image" class="form-control" required>
                    </div>
                    <div class="md-form pt-2">
                        <label for="geometry">Geometry <i class="icon-question-sign" data-toggle="tooltip" title="Only the first geometry will selected as cosmetic"></i></label>
                        <input type="file" id="geometry" name="geometry" class="form-control">
                    </div>
                    <button class="btn btn-primary mt-4" type="submit">Create</button>
                </div>
            </form>
        </div>

<script>
    let input = document.getElementById("focus");
    input.focus();
    input.select();
</script>