
{{# showNavBar }}
    <script>
        let nab_elements = document.getElementById("nav-bar-elements");
        nab_elements.innerHTML = '' +
                '<li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="/admin/users">Manage Users</a></li>' +
                '<li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="/admin/users">Public Cosmetics</a></li>' +
                ''
        ;
    </script>
{{/ showNavBar }}